<div class="container">
  <h1>Registration</h1>

  <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="formItem">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
      <div
        class="error"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Not email</div>
      </div>
    </div>

    <div class="formItem">
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        required
      />
      <div
        class="error"
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <div *ngIf="password.errors?.['required']">Password is required</div>
        <div *ngIf="password.errors?.['minlength']">Too short</div>
      </div>
    </div>

    <div class="formItem">
      <label for="confirmPassword">Confirm password</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        required
      />
      <div
        class="error"
        *ngIf="confirmPassword.errors?.['required'] && (confirmPassword.dirty || confirmPassword.touched)"
      >
        Password confirmation is required
      </div>
      <div
        class="error"
        *ngIf="registrationForm.errors?.['passwordsDontMatch'] && !confirmPassword.errors?.['required']"
      >
        Passwords don't match
      </div>
    </div>

    <button class="button" [disabled]="registrationForm.invalid" type="submit">
      Register
    </button>
  </form>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>
