<div class="container">
  <h1 class="title">Registration</h1>

  <!-- TODO: add styles for validation fail messages -->
  <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="formItem">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
    </div>

    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors?.['required']">Email is required</div>
      <div *ngIf="email.errors?.['email']">Not email</div>
    </div>

    <div class="formItem">
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        required
      />
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['minlength']">Too short</div>
    </div>

    <div class="formItem">
      <label for="confirmPassword">Confirm password</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        required
      />
    </div>

    <div
      *ngIf="
        (confirmPassword.invalid || registrationForm.errors?.['passwordsDontMatch']) &&
        (confirmPassword.dirty || confirmPassword.touched)
      "
    >
      <div *ngIf="confirmPassword.errors?.['required']">
        Password confirmation is required
      </div>
      <div *ngIf="registrationForm.errors?.['passwordsDontMatch']">
        Passwords don't match
      </div>
    </div>

    <button class="button" type="submit">Register</button>
  </form>

  <div>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
