<div class="container">
  <h1>Login</h1>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="formItem">
      <label for="email">Email</label>
      <input
        autocomplete="off"
        id="email"
        formControlName="email"
        type="email"
        required=""
      />
      <div
        class="error"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <div *ngIf="email.errors?.['required']">Email required</div>
        <div *ngIf="email.errors?.['email']">Not email</div>
      </div>
      <div class="error" *ngIf="error?.field === 'email'">
        {{ error?.errorMessage }}
      </div>
    </div>

    <div class="formItem">
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        required=""
      />
      <div
        class="error"
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <div *ngIf="password.errors?.['required']">Password required</div>
      </div>
      <div class="error" *ngIf="error?.field === 'password'">
        {{ error?.errorMessage }}
      </div>
    </div>

    <button
      class="button"
      [disabled]="loginForm.invalid || error"
      type="submit"
    >
      Login
    </button>
  </form>

  <p>Don't have an account? <a routerLink="/registration">Register</a></p>
</div>
